.container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 100%;
}

.experienceContainer {
	display: flex;
	flex-direction: row;
	gap: 20px;
	margin: 0 auto;
	padding: 20px;
}

.textContainer {
	color: #1f2937;
	display: flex;
	flex-direction: column;
	margin: auto 0;
	flex-grow: 1;
}

.image {
	object-fit: contain;
	margin: auto 0;
}
