.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding-bottom: 75px;
    width: 100%;
}

.experienceContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0 auto;
    flex-wrap: wrap;
}



.textContainer {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    flex-grow: 1;
}

.image {
    object-fit: contain;
}