.container {
	display: flex;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.contactContainer {
	display: flex;
	gap: 15px;
	font-size: 22px;
	color: #e5e7eb;
	margin: auto 0;
}

.link:hover {
	opacity: 0.5;
}
