.container {
    background-color: white;
    display: flex;
    padding: 30px;
    border-top: solid #D1D5DB 1px;
}

.contactContainer {
    display: flex;
    gap: 15px;
    font-size: 22px;
    color: #1F2937;
    margin: auto 0;
}

.link:hover {
    opacity: .5;
}