.container {
    overflow:scroll;
    position: relative;
    height: 100vh;
}

/* .smallContainer {
    height: 100vh;
    max-width: 1000px;
    position: relative;
    background-color: white;
} */

.hero {
    display: flex;
    padding: 75px 75px 75px 75px;
}

.heroTextContainer {
    margin: auto 0;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.heroTitle {
    color: #1F2937;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
}

.contactContainer {
    display: flex;
    gap: 15px;
    font-size: 22px;
    color: #1F2937;
}

.link:hover {
    opacity: .5;
}