.container {
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    
}

.hero {
    display: flex;
    padding-bottom: 75px;
    padding-top: 60px;
}

.heroTextContainer {
    margin: auto 0;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.heroTitle {
    color: #1F2937;
    font-weight: bold;
    line-height: 1;
}

.contactContainer {
    display: flex;
    gap: 15px;
    font-size: 22px;
    color: #1F2937;
}

.link:hover {
    opacity: .5;
}