.floatingContainer {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	padding: 13px 15px;
	gap: 20px;
	width: max-content;
	z-index: 10;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	border-radius: 1rem;
}

.navButton {
	margin: auto 0;
	font-size: 15px;
	font-weight: 500;
	color: #f3f4f6;
	padding: 0 5px;
	border-radius: 5px;
	transition: 0.15s ease-in-out;
}

.navButton:hover {
	background-color: #8597b1;
	transition: 0.15s ease-in-out;
}

@media screen and (max-width: 700px) {
	.floatingContainer {
		border-radius: 20px;
		padding: 10px;
		gap: 10px;
	}
	.navButton {
		font-size: 12px;
	}
}
