.container {
    background-color: white;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectContainer {
    display: flex;  
    border-radius: 15px;
    gap: 15px;
    padding: 20px;
    width: 100%;
    background-color: white;
}

.accountiveShadow {
    box-shadow: rgb(157,188,236) 0px 2px 8px 0px;  
}

.accountiveColor {
    color: rgb(157,188,236);
}

.qmmShadow {
    box-shadow: rgb(102,62,178) 0px 2px 8px 0px;  

}

.qmmColor {
    color: rgb(102,62,178);
}

.wrShadow {
    box-shadow: rgb(136,188,69) 0px 2px 8px 0px;
}

.wrColor {
    color: rgb(136,188,69);
}

.pokerShadow {
    box-shadow: rgb(237,29,36) 0px 2px 8px 0px;
}

.pokerColor {
    color: rgb(237,29,36);
}

.textContainer {
    color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    flex-grow: 1;
}

.image {
    object-fit: contain;
}

.hovered {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.unhovered {
    transform: scale(1.0);
    transition: 0.3s ease-in-out;
}
