.container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.projectContainer {
	display: flex;
	gap: 20px;
	padding: 20px;
	width: 100%;
}

.customShadowRadius {
	border-radius: 1.5rem;
}

.accountiveShadow {
	box-shadow: rgb(157, 188, 236) 0px 2px 8px 0px;
}

.accountiveColor:hover {
	color: rgb(157, 188, 236);
}

.accountiveColor {
	color: rgb(156, 163, 175);
}

.qmmShadow {
	box-shadow: rgb(102, 62, 178) 0px 2px 8px 0px;
}

.qmmColor:hover {
	color: rgb(102, 62, 178);
}

.qmmColor {
	color: rgb(156, 163, 175);
}

.nomifyShadow {
	box-shadow: rgb(123, 196, 130) 0px 2px 8px 0px;
}

.nomifyColor:hover {
	color: rgb(123, 196, 130);
}

.nomifyColor {
	color: rgb(156, 163, 175);
}

.leetpatternsColor:hover {
	color: #fd8913;
}

.leetpatternsColor {
	color: rgb(156, 163, 175);
}

.leetpatternsShadow {
	box-shadow: #fd8913 0px 2px 8px 0px;
}

.textContainer {
	color: #ffffff;
	display: flex;
	flex-direction: column;
	margin: auto 0;
	flex-grow: 1;
}

.image {
	object-fit: contain;
}
