.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 75px;
}

.gridDisplay {
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    width: 80%;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1F2937;
}

.swift {
    color: #F05138;
}

.python {
    color: #3776AB;
}

.javascript {
    color: #F7DF1E;
}

.react {
    color: #61DAFB;
}

.nextjs {
    color: #000000;
}

.postgres {
    color: #4169E1;
}

.firebase {
    color: #FFCA28;
}

.docker {
    color: #2496ED;
}

.java {
    color: #F8971F;
}

.nodejs {
    color: #5FA04E;
}

.aws {
    color: #232F3E;
}

.springboot {
    color: #6DB33F;
}