.container {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.gridDisplay {
	margin: 0 auto;
	display: grid;
	column-gap: 40px;
	row-gap: 50px;
	width: fit-content;
	padding: 25px;
}

.skillContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: #f3f4f6;
}

.swift {
	color: #f05138;
}

.python {
	color: #3776ab;
}

.javascript {
	color: #f7df1e;
}

.react {
	color: #61dafb;
}

.nextjs {
	color: #000000;
}

.postgres {
	color: #4169e1;
}

.firebase {
	color: #ffca28;
}

.docker {
	color: #2496ed;
}

.java {
	color: #f8971f;
}

.nodejs {
	color: #5fa04e;
}

.aws {
	color: #232f3e;
}

.springboot {
	color: #6db33f;
}
