@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding: 0 15px;
	padding-bottom: 40px;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
}

.glass-light {
	position: relative;
	background: rgba(255, 255, 255, 0.08);
	backdrop-filter: blur(2px) saturate(160%);
	border: 1px solid rgba(255, 255, 255, 0.55);
	border-radius: 1.5rem;
	box-shadow: 0 8px 24px rgba(31, 38, 135, 0.25),
		inset 0 4px 14px rgba(255, 255, 255, 0.3);
}

.glass-light::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 1.5rem;
	backdrop-filter: blur(0.2px);
	box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 0.4),
		inset 0px -9px 0px -8px rgba(255, 255, 255, 0.45);
	opacity: 0.45;
	z-index: -1;
	filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.glass-frosty {
	position: relative;
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(5px) saturate(160%);
	border: 1px solid rgba(255, 255, 255, 0.55);
	border-radius: 1rem;
	box-shadow: 0 8px 24px rgba(31, 38, 135, 0.12),
		inset 0 4px 14px rgba(255, 255, 255, 0.18);
}

.glass-frosty::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.05);
	border-radius: 1rem;
	backdrop-filter: blur(0.5px);
	box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 0.4),
		inset 0px -9px 0px -8px rgba(255, 255, 255, 0.45);
	opacity: 0.45;
	z-index: -1;
	filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}
